<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <title>Negitdown Beta</title>
    <script type="text/javascript" src="validator.min.js"></script>
  </head>
  <body style="background:turquoise !important">
    <div class="container">
      <br/>
      <div style="background:turquoise !important" class="jumbotron">
        <h1 class="text-center">Welcome to Negitdown</h1>
        <p class="text-center">Want to sign up for a new way to make money?</p>
      </div>
      <div class="text-center">
        <h2> Sign up for the beta </h2>

        <form method = "post" action="/">
          <div class="form-group">
          <label for="first"> Name: </label>
          <br/>
          <input type="text" id="first" name="name" class="form-control" value="">
          <br/>
        </div>
        <div class="form-group">
          <label for="second"> Email: </label>
          <br/>
          <input type="email" id="second" name="email" class="form-control" value="person@email.com">
          <br/>
        </div>
          <br/>
          <input class="form-control btn btn-info" type="submit" value="Submit">
        </form>
      </div> <!-- text-center Div -->
    </div> <!--Container Div -->
  </body>
</html>
